@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f9fafb;
    /* gray-50 */
    color: #1f2937;
    /* gray-800 */
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Базові стилі для іконок Lucide, щоб вони не стрибали */
i[data-lucide] {
    display: inline-block;
    vertical-align: middle;
}