/* Utils */
@import 'utils/variables';
@import 'utils/utils';

/* Base */
@import 'base';

/* Components */
@import 'components/buttons';
@import 'components/forms';
@import 'components/cards';
@import 'components/tables';
@import 'components/status';

/* Layouts */
@import 'layouts/header'; // Якщо створиш
@import 'layouts/sidebar';
@import 'layouts/auth';