/* Утиліти */

// Приховати скролбар, але залишити можливість скролити
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

// Клас для приховування елементів (використовується в JS табах)
.hidden {
    display: none !important;
}