.auth-container {
    min-height: 100vh;
    display: flex;
}

.auth-brand-side {
    display: none;

    @media (min-width: 1024px) {
        display: flex;
        width: 50%;
        background-color: $primary;
        position: relative;
        overflow: hidden;
    }
}

.auth-form-side {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: white;

    @media (min-width: 1024px) {
        width: 50%;
    }
}