.sidebar {
    width: 16rem; // 64
    background-color: $primary;
    color: white;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;

    & a {
        color: white;
        text-decoration: none;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &.active {
            background-color: $orange;
        }
    }
}

.main-content-offset {
    margin-left: 16rem; // Відступ для контенту, щоб не перекривав сайдбар
}